/*--------------------*/
/* - Products         */
/*--------------------*/
.btn-back-container {position: relative;z-index: 11;}
.btn-back-container .btn-back {position: absolute;top: 25px;left: 30px;}
.prd__page-title {text-align: left;text-transform: uppercase;margin-bottom: 20px;}
.prd__title--wrap {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;margin-bottom: 20px;}
.simple-link {cursor: pointer;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.simple-link b {font-weight: 500;font-size: 16px;line-height: 1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.simple-link i {position: relative;display: inline-block;margin-left: 10px;width: 20px;height: 14px;}
.simple-link i::before {content: "";position: absolute;left: 0;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);width: 100%;height: 2px;background-color: var(--clr-dark-blue);}
.simple-link i::after {content: "";position: absolute;right: 2px;top: 50%;-webkit-transform: translateY(-50%) rotate(-45deg);transform: translateY(-50%) rotate(-45deg);width: 8px;height: 8px;border-right: 2px solid var(--clr-dark-blue);border-bottom: 2px solid var(--clr-dark-blue);}
.prd__title--count {font-weight: 400;font-size: 13px;line-height: 1em;letter-spacing: 0.01em;color: var(--clr-grey-700);margin-left: auto;}
.prd__title--count b {font-weight: inherit;}
.prd__row {--bs-gutter-x: 20px;--bs-gutter-y: 32px;}
.prd__item {position: relative;display: block;height: calc(100% - 15px);margin-top: 15px;padding: 40px 10px;background: var(--clr-white);border: 1px solid var(--clr-grey-500);border-radius: 8px;}
.prd__item:before {content: "";position: absolute;z-index: 0;top: 0;left: 50%;-webkit-transform: translate(-50%, -16px);transform: translate(-50%, -16px);height: 15px;width: calc(100% - 40px);opacity: 0.7;border-radius: 8px 8px 0 0;background: var(--clr-white);-webkit-transition: var(--transition);transition: var(--transition);}
.prd__item--img {display: block;position: relative;margin-bottom: 40px;width: 124px;height: 124px;margin-inline: auto;}
.prd__item--img img {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 100%;max-height: 100%;}
.prd__item--name {text-align: center;font-weight: 500;font-size: 16px;line-height: 1.1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.prd__item--descr {text-align: center;font-weight: 400;font-size: 13px;line-height: 1.1em;letter-spacing: 0.01em;color: var(--clr-grey-700);margin-top: 5px;}
.prd__item--view {position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;background-color: rgba(25, 55, 104, 0.7);border-radius: 8px;-webkit-transition: all 0.45s;transition: all 0.45s;opacity: 0;visibility: hidden;}
.prd__item--view > * {display: inline-block;font-size: 16px;line-height: 1em;font-weight: 500;letter-spacing: 0.01em;text-align: center;padding: 11px 20px;min-width: 155px;color: var(--clr-white);border: 2px solid var(--clr-white);-webkit-transition: var(--transition);transition: var(--transition);}
.prd__item--label {position: absolute;top: 8px;left: 10px;}
.prd__item--label img {display: inline-block;vertical-align: middle;}
.prd__item--label b {vertical-align: middle;font-weight: 400;font-size: 16px;line-height: 1.1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.prd__btn-wrap {padding-block: 30px;border-bottom: 2px solid var(--clr-grey-300);}
.prd__item.type2 {margin-top: 0;height: 100%;}
.prd__item.type2::before {display: none;}
.prd__item.type2 .prd__item--img {width: 146px;height: 146px;}
.prd__item.type3 {height: 100%;margin-top: 0;padding: 0;background: transparent;border: none;border-radius: 0;}
.prd__item.type3::before {display: none;}
.prd__item.type3 .prd__item--img {width: 100%;padding-top: 100%;height: auto;background: var(--clr-white);border: 1px solid var(--clr-grey-500);border-radius: 8px;margin-bottom: 10px;}
@media (min-width: 1200px) {
.prd__item:hover:before {opacity: 0;}
.prd__item:hover .prd__item--view {opacity: 1;visibility: visible;}
.prd__item--view > *:hover {color: var(--clr-dark-blue);background-color: var(--clr-white);}
.simple-link:hover {text-decoration: underline;}
}
@media (min-width: 1441px) {
.prd__row .col-xxl-auto {width: 25%;}
}
@media (min-width: 1601px) {
.prd__row .col-xxl-auto {width: 20%;}
}
@media (min-width: 2000px) {
.prd__row .col-xxl-auto {width: 16.6666666667%;}
}
@media (max-width: 1199px) {
.prd__row {--bs-gutter-x: 10px;}
.prd__item--view {display: none;}
}
@media (max-width: 991px) {
.btn-back-container {display: none;}
.banner-entry.small.prd__banner .banner-entry-align {vertical-align: bottom;}
.prd__item {height: calc(100% - 12px);margin-top: 12px;padding: 30px 10px;}
.prd__item:before {-webkit-transform: translate(-50%, -13px);transform: translate(-50%, -13px);height: 12px;width: calc(100% - 30px);}
.prd__item--img {margin-bottom: 30px;width: 98px;height: 98px;}
.prd__item.type2 .prd__item--img {width: 110px;height: 110px;}
.prd__title--wrap {display: block;}
.prd__title--wrap .simple-link {margin-top: 10px;margin-left: -10px;}
.prd__title--count {text-align: right;}
}
@media (max-width: 767px) {
.prd__title--count {text-align: center;}
}
@media (max-width: 575px) {
.banner-entry.small.prd__banner .banner-entry-align {padding: 60px 15px 30px;}
.banner-entry.small.prd__banner .banner-entry-align:before {background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 55, 104, 0)), to(#193768));background: linear-gradient(180deg, rgba(25, 55, 104, 0) 0%, #193768 100%);}
.prd__row {--bs-gutter-y: 20px;}
.prd__btn-wrap .btn {width: 100%;}
}
@media (max-width: 374px) {
.prd__row {--bs-gutter-y: 10px;}
.prd__item {padding: 20px 5px;}
.prd__item:before {width: calc(100% - 20px);}
.prd__item--img {margin-bottom: 20px;width: 80px;height: 80px;}
.prd__item--name {font-size: 14px;}
}
/*--------------------*/
/* - Products Series  */
/*--------------------*/
.series-descr {background: var(--clr-white);border-radius: 18px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.series-descr__info {margin: 20px 70px;}
.series-descr__info .text {color: var(--clr-dark-blue);}
.series-descr__img {width: 30.5%;-ms-flex-item-align: start;align-self: flex-start;-ms-flex-negative: 0;flex-shrink: 0;margin: 20px 30px 20px 0;}
.series-descr__img img {display: block;}
.load-more.card {cursor: pointer;background: var(--clr-grey-100);border: 1px solid var(--clr-grey-500);border-radius: 8px;padding: 40px 10px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;height: 100%;min-height: 304px;-webkit-transition: var(--transition);transition: var(--transition);}
.load-more.card svg {margin-block: auto;width: 46px;height: 46px;}
.load-more.card b {margin-block: 20px;font-weight: 500;font-size: 16px;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.load-more.card.loading svg {-webkit-animation-name: spin;animation-name: spin;-webkit-animation-duration: 1500ms;animation-duration: 1500ms;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: linear;animation-timing-function: linear;}
@-webkit-keyframes spin {
from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes spin {
from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@media (min-width: 1200px) {
.load-more.card:hover {background: var(--clr-grey-300);}
}
@media (max-width: 991px) {
.series-descr {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.series-descr__info {margin: 0 20px 40px;-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;}
.series-descr__img {width: calc(100% - 40px);margin: 15px 20px;}
.series-descr__img img {margin: 0 auto;}
.load-more.card {padding: 30px 10px;min-height: 238px;}
}
@media (max-width: 374px) {
.load-more.card {padding: 20px 5px;min-height: 206px;}
}
/*----------------------*/
/* - Accessories Slider */
/*----------------------*/
.accessories-title {margin-bottom: 25px;padding-bottom: 10px;border-bottom: 2px solid var(--clr-grey-300);}
@media (min-width: 1200px) {
.accessories-slider .swiper-button-prev,
.accessories-slider .swiper-button-next {top: 75px;}
.accessories-slider .swiper-button-prev {left: -25px;}
.accessories-slider .swiper-button-next {right: -25px;}
}
@media (max-width: 1199px) {
.accessories-slider .prd__item.type3 {width: 100%;}
.accessories-slider .swiper-controls {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;position: relative;width: 100%;height: 50px;}
.accessories-slider .swiper-button-prev,
.accessories-slider .swiper-button-next {position: relative;}
}
/*--------------------*/
/* - Category         */
/*--------------------*/
:root {--ctg-menu-width: 342px;}
.category-section {display: -webkit-box;display: -ms-flexbox;display: flex;min-height: calc(var(--header-top) + var(--header-bottom));}
.bottom-line {margin-top: 25px;height: 2px;background: var(--clr-grey-300);}
.category-section-left {width: var(--ctg-menu-width);}
.category-section-right {width: calc(100% - var(--ctg-menu-width));padding-bottom: 80px;}
header.scrolled + main .category-section {--header-bottom: 60px;}
.ctg__mobile--section {display: none;}
.ctg__menu--wrap {height: 100%;overflow: auto;}
.ctg__menu {padding: 30px 35px;}
.ctg__menu > * {margin-top: 10px;}
.ctg__menu > *:first-child {margin-top: 0;}
.ctg__menu > *:last-child:is(.btn) {margin-top: 20px;}
.ctg__links {position: relative;}
.ctg__links--caption {font-weight: 400;font-size: 13px;line-height: 1.1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.ctg__links--caption + .ctg__dropdown {margin-top: 5px;}
.ctg__dropdown {position: relative;z-index: 10;}
.ctg__dropdown--title {cursor: pointer;position: relative;z-index: 1;padding: 12px 15px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;background: var(--clr-white);border: 2px solid var(--clr-grey-700);border-radius: 8px;}
.ctg__dropdown--title b {display: inline-block;font-weight: 700;font-size: 16px;line-height: 1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.ctg__dropdown--title i {position: relative;display: inline-block;-ms-flex-negative: 0;flex-shrink: 0;width: 10px;height: 10px;-webkit-transition: var(--transition);transition: var(--transition);}
.ctg__dropdown--title i:before {content: "";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: var(--clr-dark-blue) transparent transparent transparent;}
.ctg__dropdown--list {position: absolute;z-index: 0;bottom: 6px;left: 0;-webkit-transform: translateY(100%);transform: translateY(100%);width: 100%;max-height: 200px;padding-top: 4px;background: var(--clr-white);border: 1px solid var(--clr-grey-100);opacity: 0;visibility: hidden;-webkit-transition: var(--transition);transition: var(--transition);}
.ctg__dropdown--list li > * {font-size: 16px;display: block;line-height: 1.39em;font-weight: 400;letter-spacing: 0;color: var(--clr-dark-blue);-webkit-transition: var(--transition);transition: var(--transition);padding: 10px 15px;}
.ctg__dropdown.active .ctg__dropdown--list {opacity: 1;visibility: visible;}
.ctg__dropdown.active .ctg__dropdown--title i {-webkit-transform: rotate(-180deg);transform: rotate(-180deg);}
.ctg__dropdown + .ctg__links--list {margin-top: 10px;}
.ctg__links--list li {margin-left: 15px;}
.ctg__links--list li > *:not(ul) {position: relative;display: block;font-weight: 500;font-size: 16px;line-height: 1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);padding: 12px 35px 12px 15px;-webkit-transition: var(--transition);transition: var(--transition);}
.ctg__links--list li > *:not(ul).active {background-color: var(--clr-grey-300);border-radius: 8px;}
.ctg__links--list li > *:not(ul).active:before {content: "";position: absolute;right: 15px;top: 50%;-webkit-transform: translateY(-50%) rotate(-45deg);transform: translateY(-50%) rotate(-45deg);width: 10px;height: 6px;border-left: 2px solid var(--clr-dark-blue);border-bottom: 2px solid var(--clr-dark-blue);}
.ctg__filter {position: relative;border-bottom: 2px solid var(--clr-grey-300);}
.ctg__filter--title {cursor: pointer;position: relative;padding: 12px 35px 12px 15px;}
.ctg__filter--title b {font-weight: 700;font-size: 16px;line-height: 1.1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.ctg__filter--title i {position: absolute;top: 15px;right: 15px;width: 14px;height: 14px;}
.ctg__filter--title i:before {content: "";position: absolute;top: 50%;left: 0;width: 100%;height: 2px;background: var(--clr-dark-blue);-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.ctg__filter--title i:after {content: "";position: absolute;top: 0;left: 50%;width: 2px;height: 100%;background: var(--clr-dark-blue);-webkit-transform: translateX(-50%);transform: translateX(-50%);-webkit-transition: var(--transition);transition: var(--transition);}
.ctg__filter--list {display: none;}
.ctg__filter--list li {padding: 12px 0 12px 15px;}
.ctg__filter--list .checkbox-entry span {font-weight: 500;padding-left: 25px;}
.ctg__filter.active .ctg__filter--title i:after {-webkit-transform: translateX(-50%) rotate(90deg);transform: translateX(-50%) rotate(90deg);}
@media (min-width: 1200px) {
.ctg__dropdown--list li > *:hover {color: var(--clr-white);background: var(--clr-dark-blue);}
.ctg__links--list li > *:not(ul):not(.active):hover {background-color: var(--clr-grey-100);border-radius: 8px;}
}
@media (max-width: 1440px) {
:root {--ctg-menu-width: 310px;}
.category-section-right {width: calc(100% - var(--ctg-menu-width));padding-bottom: 60px;}
.ctg__menu {padding: 20px;}
}
@media (max-width: 1199px) {
.category-section {display: block;min-height: unset;}
.category-section-left {width: auto;}
.category-section-right {padding-bottom: 40px;width: 100%;}
.ctg__mobile--section {height: 60px;margin-bottom: 40px;display: block;}
.ctg__mobile--block {padding-block: 5px;-webkit-transition: var(--transition);transition: var(--transition);}
.ctg__mobile--block.fixed {position: fixed;z-index: 50;top: calc(var(--header-top) + var(--header-bottom));left: 0;width: 100%;background-color: var(--clr-dark-blue);}
.ctg__mobile--btn {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;max-width: 210px;width: 100%;padding: 11px 15px;background-color: var(--clr-white);border: 2px solid var(--clr-grey-300);border-radius: 6px;}
.ctg__mobile--btn svg {margin-right: 10px;width: 25px;}
.ctg__mobile--btn b {font-weight: 500;font-size: 16px;line-height: 1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.ctg__menu--wrap {position: fixed;z-index: 100;top: calc(var(--header-top) + var(--header-bottom));left: 0;line-height: 0;width: var(--ctg-menu-width);height: calc(100% - (var(--header-top) + var(--header-bottom)));background-color: var(--clr-white);-webkit-transition: var(--transition);transition: var(--transition);-webkit-transform: translateX(-100%);transform: translateX(-100%);}
.ctg__menu--wrap .btn-close {margin: 20px 20px 0;}
.ctg__menu--wrap .btn-close b {display: inline-block;position: absolute;top: 50%;right: -15px;-webkit-transform: translate(100%, -50%);transform: translate(100%, -50%);font-weight: 500;font-size: 16px;line-height: 1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);}
.ctg-open-filter,
html.ctg-open-filter body {overflow: hidden;}
.ctg-open-filter .ctg__menu--wrap {-webkit-transform: translateX(0%);transform: translateX(0%);}
.ctg-open-filter .ctg__menu--overlay {opacity: 0.6;visibility: visible;}
.ctg__menu--overlay {position: fixed;z-index: 99;top: calc(var(--header-top) + var(--header-bottom));left: 0;right: 0;bottom: -100px;background-color: var(--clr-grey-300);opacity: 0;visibility: hidden;-webkit-transition: opacity var(--transition-1);transition: opacity var(--transition-1);}
}
@media (max-width: 575px) {
.ctg__mobile--btn {max-width: 100%;width: calc(100% - 30px);margin-inline: 15px;}
}
/*---------------------------*/
/* - Product Detail Slider   */
/*---------------------------*/
.prd__detail--section .btn-back-container {display: block;}
.prd__detail--section .btn-back b {color: var(--clr-dark-blue);}
.swiper-controls-hide .swiper-thumbs .swiper-controls {display: none;}
.prd__detail--slider .swiper-thumbs-top {position: relative;}
.prd__detail--slider .swiper-thumbs-top .swiper-controls {position: absolute;left: 0;bottom: -10px;-webkit-transform: translateY(100%);transform: translateY(100%);padding-top: 24.12%;width: 100%;}
.prd__detail--slider .swiper-thumbs-bottom {width: calc(100% - 120px);margin-top: 10px;margin-inline: 60px;}
.prd__detail--slider .swiper-thumbs-bottom .swiper-container {overflow: hidden;}
.prd__detail--slider .swiper-thumbs-bottom .swiper-wrapper {cursor: default;}
.prd__detail--img {position: relative;display: block;padding-top: calc(100% - 60px);margin: 0 30px;}
.prd__detail--img img {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 100%;height: 100%;max-width: 100%;max-height: 100%;}
.prd__detail--thumbs {position: relative;padding-top: 100%;display: block;border-radius: 8px;background: var(--clr-grey-100);-webkit-transition: var(--transition);transition: var(--transition);outline: 1px solid transparent;outline-offset: -1px;}
.prd__detail--thumbs img {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 86%;max-height: 86%;}
.swiper-slide-thumb-active .prd__detail--thumbs {outline-color: var(--clr-dark-blue);background: transparent;}
.prd__informer {display: none;}
.prd__informer--inner {position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;width: 100%;padding: 25px 40px 25px 20px;background-color: var(--clr-grey-100);}
.prd__informer--name {position: relative;padding-left: 30px;}
.prd__informer--name:before {content: "";position: absolute;left: 3px;top: 4px;width: 6px;height: 12px;border-right: 2px solid var(--clr-dark-blue);border-bottom: 2px solid var(--clr-dark-blue);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
@media (max-width: 1199px) {
.prd__detail--slider .swiper-thumbs-top .swiper-controls {display: none;}
.prd__detail--img {padding-top: 100%;margin: 0;}
.prd__detail--slider .swiper-thumbs-bottom {width: calc(100% - 30px);margin-inline: 15px;}
}
@media (max-width: 767px) {
.prd__detail--slider .swiper-thumbs-bottom {display: none;}
}
/*------------------------*/
/* - Product Detail Info  */
/*------------------------*/
.prd__detail {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;height: 100%;}
.prd__detail .social-wrapper {margin-top: 20px;}
.prd__detail--name {font-weight: 400;letter-spacing: 0.0025em;text-transform: uppercase;color: var(--clr-dark-blue);margin-top: 10px;}
.prd__detail--series {font-weight: 400;color: var(--clr-grey-700);}
.prd__detail--series-num {font-weight: 700;letter-spacing: 0.01em;color: var(--clr-dark-blue);margin-top: 10px;}
.label__wrap {margin-top: 40px;}
.label__inner {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin: -5px;}
.label__item {position: relative;display: inline-block;width: 72px;height: 72px;margin: 5px;}
.label__item img {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 94%;max-height: 94%;}
.prd__detail--controls {margin-top: 40px;margin-bottom: 25px;}
.in-wrapper {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin: -12.5px;}
.in-wrap {margin: 12.5px;}
.in-placeholder {font-weight: 400;font-size: 13px;line-height: 1em;letter-spacing: 0.01em;color: var(--clr-dark-blue);margin-bottom: 10px;}
.in-inner {position: relative;}
.in-btn-dec {cursor: pointer;position: absolute;right: 15px;top: 8px;width: 16px;height: 16px;-webkit-transition: var(--transition);transition: var(--transition);}
.in-btn-dec::before {content: "";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%) rotate(-135deg);transform: translate(-50%, -50%) rotate(-135deg);width: 8px;height: 8px;margin-top: 2px;border-right: 2px solid var(--clr-dark-blue);border-bottom: 2px solid var(--clr-dark-blue);-webkit-transition: var(--transition);transition: var(--transition);}
.in-btn-inc {cursor: pointer;position: absolute;right: 15px;bottom: 8px;width: 16px;height: 16px;-webkit-transition: var(--transition);transition: var(--transition);}
.in-btn-inc::before {content: "";position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%) rotate(45deg);transform: translate(-50%, -50%) rotate(45deg);width: 8px;height: 8px;margin-top: -2px;border-right: 2px solid var(--clr-dark-blue);border-bottom: 2px solid var(--clr-dark-blue);-webkit-transition: var(--transition);transition: var(--transition);}
.in-input {padding: 0 15px;height: 48px;font-size: 16px;font-weight: 600;letter-spacing: 0.01em;color: var(--clr-dark-blue);background: var(--clr-white);border: 2px solid var(--clr-grey-700);border-radius: 8px;}
.in-input[type=number] {max-width: 120px;width: 100%;}
.in-input[type=text] {max-width: 220px;width: 100%;}
.prd__detail--btn-wrap {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.prd__detail--btn-wrap .tooltip {margin-left: 15px;}
.tooltip {position: relative;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-negative: 0;flex-shrink: 0;}
.tooltip i {cursor: pointer;display: inline-block;width: 26px;height: 26px;line-height: 21px;text-align: center;font-size: 20px;font-weight: bold;color: var(--clr-grey-700);border: 3px solid currentColor;border-radius: 100%;}
.tooltip b {font-weight: 400;font-size: 13px;line-height: 20px;letter-spacing: 0.01em;color: var(--clr-grey-700);margin-left: 10px;}
.tooltip-info {position: absolute;z-index: 10;bottom: -5px;left: 26px;-webkit-transform: translate(0%, 100%);transform: translate(0%, 100%);padding: 8px 12px;width: 210px;color: var(--clr-grey-700);font-weight: 400;font-size: 13px;line-height: 1.2em;letter-spacing: 0.01em;border-radius: 4px;background: var(--clr-white);-webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.16);box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.16);opacity: 0;visibility: hidden;-webkit-transition: var(--transition);transition: var(--transition);}
.tooltip:hover .tooltip-info {opacity: 1;visibility: visible;}
.out-stock .quantity-input .in-inner {opacity: 0.5;pointer-events: none;}
.out-stock .btn {pointer-events: none;color: var(--clr-grey-700);border-color: var(--clr-grey-500);background-color: var(--clr-grey-500);}
@media (min-width: 1200px) {
.in-btn-dec:hover,
.in-btn-inc:hover {background-color: var(--clr-dark-blue);}
.in-btn-dec:hover::before,
.in-btn-inc:hover::before {border-color: var(--clr-white);}
}
@media (max-width: 1199px) {
.prd__detail .social-wrapper {margin-top: 15px;}
.prd__detail--name {margin-top: 5px;}
.prd__detail--series-num {margin-top: 5px;}
.label__wrap {margin-top: 30px;}
.label__inner {margin: -2px;}
.label__item {width: 52px;height: 52px;margin: 2px;}
.prd__detail--controls {margin-top: 30px;margin-bottom: 25px;}
.in-wrapper {margin: -5px;}
.in-wrap {margin: 5px;}
.in-input[type=number] {max-width: 100px;}
.in-input[type=text] {max-width: 200px;}
}
@media (max-width: 991px) {
.tooltip-info {-webkit-transform: translate(-50%, 100%);transform: translate(-50%, 100%);}
}
@media (max-width: 767px) {
.prd__detail--section {padding-inline: 15px;}
.prd__detail--section .btn-back-container .btn-back {top: 15px;left: 15px;}
.prd__detail--btn-wrap .btn {-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;}
.tooltip b {display: none;}
.tooltip-info {left: auto;right: 0;-webkit-transform: translate(0%, 100%);transform: translate(0%, 100%);}
}
@media (max-width: 575px) {
.in-input[type=text] {max-width: 100%;}
}
/*--------------------*/
/* - Product Config   */
/*--------------------*/
.prd__config {background-color: var(--clr-grey-900);padding: 65px 0;}
.prd__config .row {--bs-gutter-y: 80px;}
.prd__config .caption {max-width: 850px;}
.prd__config--info {color: var(--clr-white);}
.prd__config--info .title {text-transform: uppercase;margin-bottom: 25px;}
.prd__config--info > * {color: inherit;}
.prd__specs--name {font-weight: 700;font-size: 16px;line-height: 1.2em;letter-spacing: 0.01em;color: var(--clr-grey-300);}
.prd__specs--series {font-weight: 400;font-size: 13px;line-height: 1.2em;letter-spacing: 0.01em;color: var(--clr-grey-300);margin-top: 5px;}
.prd__specs {max-width: 368px;width: 100%;}
.prd__specs > * + .input-field-wrapp {margin-top: 15px;}
.prd__specs > *:last-child:is(.btn) {margin-top: 25px;}
.prd__specs .input-field-wrapp::before {display: none;}
.prd__specs .input-placeholder {color: var(--clr-white);}
.prd__specs .input-field-wrapp.focus .input-placeholder,
.prd__specs .input-field-wrapp.value .input-placeholder {color: var(--clr-white);opacity: 0.7;}
.prd__specs .SelectBox {height: 48px;width: 100%;font-size: 16px;line-height: 1.19em;font-weight: 400;letter-spacing: 0.005em;color: var(--clr-dark-blue);padding: 15px;}
.prd__specs .SumoSelect > .CaptionCont {border: 1px solid var(--clr-white);border-radius: 8px;}
.prd__specs .SumoSelect > .CaptionCont > span {color: var(--clr-white);}
.prd__specs .SumoSelect > .CaptionCont > label > i:before {border-top-color: var(--clr-white);}
@media (max-width: 1440px) {
.prd__config {padding: 65px 15px;}
}
@media (max-width: 1199px) {
.prd__specs {margin-left: auto;}
}
@media (max-width: 991px) {
.prd__config {padding: 35px 15px;}
.prd__config .row {--bs-gutter-y: 60px;}
.prd__specs {max-width: 320px;}
}
@media (max-width: 767px) {
.prd__config {padding: 35px 30px;}
.prd__config .row {--bs-gutter-y: 30px;}
.prd__specs {max-width: 360px;margin: 0;}
}
/*--------------------*/
/* - Related Slider   */
/*--------------------*/
.title + .related-slider {margin-top: 20px;}
@media (min-width: 1200px) {
.related-slider .swiper-button-prev,
.related-slider .swiper-button-next {top: 30%;}
.related-slider .swiper-button-prev {left: -25px;}
.related-slider .swiper-button-next {right: -25px;}
}
/*--------------------*/
/* - Basket           */
/*--------------------*/
.basket-section > .container > .row {--bs-gutter-x: 60px;}
.basket__prd--wrap *:last-child:is(.btn) {margin-top: 25px;}
.basket__title {color: var(--clr-dark-blue);font-weight: 400;padding-bottom: 10px;border-bottom: 2px solid var(--clr-grey-300);margin-bottom: 25px;}
.basket__prd--inner > * {margin-bottom: 25px;}
.basket__prd--inner > *:last-child {margin-bottom: 0;}
.basket__prd {position: relative;padding: 15px 80px 40px 15px;background: var(--clr-white);border: 1px solid var(--clr-grey-500);border-radius: 8px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}
.basket__prd .btn-close {position: absolute;top: 15px;right: 15px;}
.basket__prd--img {position: relative;width: 146px;height: 146px;-ms-flex-negative: 0;flex-shrink: 0;margin-right: 30px;-webkit-transition: var(--transition);transition: var(--transition);}
.basket__prd--img img {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);max-width: 100%;height: 100%;}
.basket__prd--name {display: inline-block;font-weight: 400;color: var(--clr-dark-blue);}
.basket__prd--opt {margin-top: 10px;}
.basket__prd--opt li {font-weight: 400;font-size: 16px;line-height: 1.28em;letter-spacing: 0.01em;color: var(--clr-grey-700);}
.basket__prd--btn-wrap {margin-top: 25px;}
.prj__save-wrap {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 15px;background: var(--clr-grey-300);border-radius: 6px;margin-bottom: 30px;}
.prj__save-wrap img {max-width: 38px;margin-right: 10px;-ms-flex-negative: 0;flex-shrink: 0;}
.prj__save-wrap p {font-weight: 400;font-size: 16px;line-height: 1.2em;letter-spacing: 0.01em;text-transform: capitalize;color: var(--clr-dark-blue);}
.prj__save-wrap .btn {margin-left: 10px;}
.basket__form .basket__title {margin-bottom: 30px;}
.basket__form .checkbox-entry-wrap .checkbox-entry {margin: 15px;}
.basket__form .checkbox-entry-wrap .checkbox-entry:last-child {margin-bottom: 0;}
@media (min-width: 1200px) {
a.basket__prd--name:hover {text-decoration: underline;}
a.basket__prd--img:hover {opacity: 0.7;}
}
@media (max-width: 1440px) {
.basket-section > .container > .row {--bs-gutter-x: 40px;}
}
@media (max-width: 1199px) {
.basket__prd--wrap {margin-bottom: 50px;}
}
@media (max-width: 767px) {
.basket-section > .container > .row {--bs-gutter-x: 30px;}
.basket__title {margin-bottom: 20px;}
.basket__prd--inner > * {margin-bottom: 20px;}
.basket__prd {display: block;padding: 15px 15px 25px 15px;}
.basket__prd--img {width: 92px;height: 92px;margin-right: 0;margin-bottom: 10px;}
.basket__prd--btn-wrap {margin-top: 20px;}
.prj__save-wrap {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding: 25px;text-align: center;}
.prj__save-wrap img {-ms-flex-negative: 0;flex-shrink: 0;}
.prj__save-wrap .btn {margin-left: 0;}
.prj__save-wrap > * {margin-bottom: 15px;}
.prj__save-wrap > *:last-child {margin-bottom: 0;}
.basket__form .basket__title {margin-bottom: 20px;}
.basket__form .checkbox-entry-wrap .checkbox-entry {margin-block: 15px !important;}
.basket__form > *:last-child:is(.btn) {width: 100%;}
}
@media (max-width: 575px) {
.basket__prd--wrap .btn {width: 100%;}
}
/*---------------------------*/
/* - Basket Empty & Received */
/*---------------------------*/
.empty__basket {position: relative;text-align: center;padding: 80px 30px 95px;background: var(--clr-white);border: 1px solid var(--clr-grey-500);border-radius: 8px;}
.empty__basket .empty__basket--title {font-weight: 400;text-transform: capitalize;color: var(--clr-dark-blue);}
.empty__basket .empty__basket--info {font-weight: 400;color: var(--clr-grey-700);margin-top: 10px;}
.empty__basket .btn {margin-top: 35px;}
@media (max-width: 767px) {
.empty__basket {padding: 60px 15px;}
.empty__basket .btn {margin-top: 25px;}
}
.rc__basket {max-width: 680px;width: 100%;margin-inline: auto;text-align: center;}
.rc__basket > img {line-height: 0;margin-bottom: 10px;}
.rc__basket > *:last-child:is(.btn) {margin-top: 40px;}
.rc__basket--title {font-weight: 400;letter-spacing: 0.0025em;text-transform: uppercase;color: var(--clr-dark-blue);}
.rc__basket--info {margin-top: 20px;font-weight: 400;color: var(--clr-dark-blue);opacity: 0.7;}
.rc__quote--wrap {max-width: 620px;width: 100%;margin-inline: auto;margin-top: 30px;padding: 25px;background: var(--clr-grey-100);border-radius: 8px;font-weight: 400;font-size: 24px;line-height: 1.25em;color: var(--clr-dark-blue);}
.rc__quote--wrap > * {margin-bottom: 25px;}
.rc__quote--wrap > *:first-child b {font-weight: 700;}
.rc__quote--wrap > *:last-child {margin-bottom: 0;}
@media (max-width: 767px) {
.rc__quote--wrap {margin-top: 30px;padding: 20px 15px;font-size: 20px;}
.rc__quote--wrap > * {margin-bottom: 15px;}
}
/*--------------------*/
/* - Account          */
/*--------------------*/
.separator {height: 1px;}
.bg-grey-500 {background-color: var(--clr-grey-500);}
.account-sec {background-size: cover;background-repeat: no-repeat;background-position: center;background-attachment: fixed;}
.account-inner {display: -ms-grid;display: grid;padding: 65px 0;min-height: calc(100vh - var(--header-top) - var(--header-bottom));}
.account-inner > * {margin: auto;}
.account-wrapper {width: 100%;background-color: var(--clr-white);border-radius: 16px;}
.account-wrapper.size-1 {max-width: 670px;}
.account-wrapper.size-2 {max-width: 855px;}
.account-wrapper.size-3 {max-width: 740px;}
.account-wrapper.size-4 {max-width: 925px;}
.account-wrapper.pb-1 {padding: 50px 145px;}
.account-wrapper.pb-2 {padding: 50px 105px;}
.account-wrapper.pb-3 {padding: 50px 155px;}
.account-wrapper.pb-4 {padding: 50px 75px 35px 75px;}
.account-wrapper.pb-5 {padding: 80px 75px 110px 75px;}
.account-wrapper .block-title {max-width: 100%;margin-bottom: 30px;}
.account-wrapper .block-title.type-2 {margin-bottom: 55px;}
.account-wrapper .block-title > *:not(:last-child) {margin-bottom: 20px;}
.account-wrapper .block-title .icon {width: 78px;height: 78px;-ms-flex-negative: 0;flex-shrink: 0;margin-left: auto;margin-right: auto;}
.account-wrapper .block-title .icon img {width: 100%;}
.account-wrapper .btn {min-width: 250px;}
.account-wrapper > .text {max-width: 340px;margin-left: auto;margin-right: auto;line-height: 1.55em;}
.account-wrapper > .text a:not(.btn, .btn-link) {text-decoration-color: currentColor;}
.form-wrapp {margin-left: auto;margin-right: auto;}
.form-wrapp.size-1 {max-width: 380px;}
.form-wrapp.size-2 {max-width: 415px;}
.form-wrapp.size-3 {max-width: 560px;}
.form-wrapp .btn-link {text-decoration: none;}
.form-wrapp .error-message {margin-top: -20px;margin-bottom: 20px;}
.form-wrapp .separator {margin: 50px 0 40px 0;}
.form-wrapp .btn {min-width: 250px;}
.error-message {position: relative;background-color: rgba(216, 0, 39, 0.05);border-radius: 8px;font-size: 13px;line-height: 16px;font-weight: 400;letter-spacing: 0.005em;color: var(--clr-error);padding: 10px 10px 10px 40px;}
.error-message::before {content: "";position: absolute;z-index: 0;top: 5px;left: 5px;width: 24px;height: 24px;background-image: url(../img/icons/warning.svg);background-repeat: no-repeat;background-size: 100% 100%;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: var(--transition);transition: var(--transition);}
@media (min-width: 1200px) {
.account-wrapper > .text a:not(.btn, .btn-link):hover {color: var(--clr-light-blue);}
}
@media (max-width: 1440px) {
.account-inner {padding: 100px 0;}
.account-wrapper.pb-1,
.account-wrapper.pb-2,
.account-wrapper.pb-3 {padding: 50px 100px;}
.account-wrapper.pb-4 {padding: 50px 75px 35px 75px;}
.account-wrapper.pb-5 {padding: 50px 75px;}
.account-wrapper .block-title.type-2 {margin-bottom: 40px;}
.form-wrapp .error-message {margin-top: 0;}
}
@media (max-width: 1199px) {
.account-wrapper.size-1,
.account-wrapper.size-2,
.account-wrapper.size-3 {max-width: 75%;}
.account-wrapper.size-4 {max-width: 85%;}
.account-wrapper.pb-1,
.account-wrapper.pb-2,
.account-wrapper.pb-3,
.account-wrapper.pb-5 {padding: 50px 70px;}
.account-wrapper.pb-4 {padding: 50px 70px 35px 70px;}
.account-wrapper .block-title.type-2 {margin-bottom: 30px;}
.account-wrapper > .text {max-width: 100%;}
.form-wrapp.size-1,
.form-wrapp.size-2,
.form-wrapp.size-3 {max-width: 100%;}
}
@media (max-width: 767px) {
.account-wrapper.size-1,
.account-wrapper.size-2,
.account-wrapper.size-3,
.account-wrapper.size-4 {max-width: 100%;}
.account-wrapper.pb-1,
.account-wrapper.pb-2,
.account-wrapper.pb-3,
.account-wrapper.pb-5 {padding: 40px 15px;}
.account-wrapper.pb-4 {padding: 40px 15px 50px 15px;}
.account-wrapper .block-title {margin-bottom: 20px;}
.account-wrapper .block-title.type-2 {margin-bottom: 15px;}
.account-wrapper .block-title > *:not(:last-child) {margin-bottom: 10px;}
.account-wrapper .block-title .icon {width: 60px;height: 60px;}
.account-wrapper .btn {min-width: auto;width: 100%;}
.form-wrapp .error-message {margin-bottom: 15px;}
}
/*--------------------*/
/* - Account          */
/*--------------------*/
.grey {color: var(--clr-grey-700);}
.banner-entry.gradient-bg .banner-entry-align {padding: 30px 0 60px;}
.banner-entry.gradient-bg .banner-entry-align:before {background: linear-gradient(180.08deg, #193768 13.09%, #03132D 219.65%);}
.banner-entry.gradient-bg:before {content: "";position: absolute;bottom: 35px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);width: 538px;height: 538px;background: #5CD8FC;opacity: 0.1;-webkit-filter: blur(107px);filter: blur(107px);z-index: 11;border-radius: 50%;pointer-events: none;}
.empty-block {position: relative;max-width: 1110px;border: 1px solid #D7D8DD;border-radius: 8px;padding: 95px 60px;margin: 0 auto;text-align: center;}
.empty-block > :not(:last-child) {margin-bottom: 15px;}
.empty-block .btn {margin-top: 35px;}
.account-block .title {margin-bottom: 10px;}
.account-form .btn {margin-top: 13px;min-width: 166px;}
.relative {position: relative;}
.banner-entry .tab-nav {position: absolute;bottom: 0;left: 0;right: 0;z-index: 10;}
.banner-entry .log-out {position: absolute;right: 15px;bottom: 22px;color: var(--clr-white);z-index: 11;cursor: pointer;font-size: 24px;line-height: 30px;-webkit-transition: var(--transition);transition: var(--transition);}
.log-out img {width: 18px;height: 18px;margin-right: 12px;}
.acc-sec {margin: 70px 0 140px;}
/*--------------------*/
/* - Account Tabs     */
/*--------------------*/
.tab-title {position: relative;display: none;padding: 15px;padding-right: 40px;cursor: pointer;font-size: 15px;line-height: 18px;font-weight: 700;color: #44A547;letter-spacing: 0.06em;text-transform: uppercase;text-align: left;border: 1px solid #D9D9D9;z-index: 6;}
.tab {display: none;}
.tab.active {display: block;}
.tab-nav {font-size: 0;display: block;position: relative;text-align: center;}
.tab-toggle {position: relative;font-size: 0;}
.tab-nav .tab-toggle div {position: relative;display: inline-block;vertical-align: top;cursor: pointer;white-space: nowrap;}
.tab-nav .tab-toggle div:not(:last-child) {margin-right: 54px;}
.tab-nav .tab-toggle div .tab-caption {position: relative;display: inline-block;padding-bottom: 17px;font-size: 24px;line-height: 30px;color: var(--clr-white);font-weight: 400;text-transform: capitalize;border-bottom: 5px solid transparent;-webkit-transition: var(--transition);transition: var(--transition);}
.tab-nav .tab-toggle div.active .tab-caption {font-weight: 700;border-bottom-color: #5CD8FC;}
.filter-block {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;margin: 20px 0;}
.filter-block .calendar-wrapp {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.calendar-wrapp .calendar-item {width: 250px;position: relative;}
.calendar-wrapp .calendar-item .input-field-wrapp img {position: absolute;top: 13px;right: 14px;width: 20px;pointer-events: none;z-index: 1;}
.calendar-wrapp > *:not(:last-child) {margin-right: 27px;}
.filter-block .sort {width: 210px;}
.input-caption {font-weight: 400;font-size: 13px;line-height: 16px;letter-spacing: 0.005em;color: var(--clr-dark-blue);margin-bottom: 5px;}
.filter-block .ctg__menu--wrap {height: inherit;overflow: hidden;width: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
/*--------------------*/
/* - Project cards    */
/*--------------------*/
.project-card-row {--bs-gutter-x: 24px;--bs-gutter-y: 35px;}
.project-card {display: block;position: relative;height: 100%;border: 1px solid rgba(25, 55, 104, 0.2);border-radius: 8px;padding: 35px 25px 25px;-webkit-transition: var(--transition);transition: var(--transition);cursor: pointer;}
.project-card .project-folder {position: relative;width: 125px;height: 100px;margin: 0 auto;text-align: center;margin-bottom: 45px;}
.project-card .project-folder img {width: 100%;height: auto;max-width: 100%;max-height: 100%;}
.project-card .project-folder .short-name {position: absolute;top: 36px;width: 100%;padding: 0 10px;font-size: 36px;line-height: 40px;text-transform: uppercase;color: var(--clr-dark-blue);}
.project-card .project-name {font-weight: 700;font-size: 16px;line-height: 19px;letter-spacing: 0.005em;color: var(--clr-dark-blue);-webkit-transition: var(--transition);transition: var(--transition);}
.project-info > * {font-weight: 400;font-size: 16px;line-height: 20px;letter-spacing: 0.005em;color: var(--clr-dark-blue);margin-top: 8px;}
.project-info > * span {margin-left: 5px;}
.project-block .ctg__menu--wrap {height: auto;overflow: initial;}
@media (min-width: 1200px) {
.tab-nav .tab-toggle div:hover .tab-caption {border-bottom-color: #5CD8FC;}
.project-card:hover {border-color: var(--clr-dark-blue);}
.project-card:hover .project-name,
.banner-entry .log-out:hover {text-decoration: underline;}
}
@media (max-width: 1560px) {
.project-card-row {--bs-gutter-x: 30px;--bs-gutter-y: 30px;}
}
@media (max-width: 1199px) {
.acc-sec {margin: 35px 0 100px;}
.banner-entry.gradient-bg .banner-entry-align {height: 165px !important;}
.tab-nav .tab-toggle div .tab-caption {padding-bottom: 10px;border-bottom-width: 4px;}
.banner-entry .log-out {bottom: 14px;}
.project-block,
.empty-block {margin: 0 35px;}
.filter-block .ctg__menu--wrap {height: 100%;overflow: auto;width: var(--ctg-menu-width);}
.filter-block {margin: 0;}
.project-block .ctg__mobile--section {margin: 20px 0 30px;}
.project-block .ctg__mobile--block .container {padding: 0;}
.project-block .ctg__mobile--block.fixed .container {padding: 0 15px;}
.filter-block .ctg__menu--wrap,
.filter-block .calendar-wrapp {display: block;}
.calendar-wrapp .calendar-item,
.filter-block .sort {width: 100%;}
.filter-block .ctg__menu--wrap {padding: 0 15px;}
.filter-block .ctg__menu--wrap .btn-close {margin: 15px 0 30px;}
.calendar-wrapp .calendar-item {margin: 0;margin-bottom: 20px;}
.project-block .ctg__mobile--block.fixed {top: 60px;}
}
@media (max-width: 991px) {
.acc-sec {margin: 35px 0 70px;}
.empty-block {padding: 50px;}
.empty-block .btn {margin-top: 15px;}
.tab-nav .tab-toggle div:not(:last-child) {margin-right: 40px;}
.tab-nav .tab-toggle div .tab-caption {font-size: 19px;}
.banner-entry.gradient-bg:before {content: none;}
.banner-entry .log-out {font-size: 19px;top: 15px;bottom: auto;right: 30px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.relative {position: inherit;}
.account-block {margin: 0 35px;}
}
@media (max-width: 767px) {
.banner-entry.gradient-bg .banner-entry-align {height: 195px !important;padding-top: 70px;}
.empty-block {padding: 30px 25px;}
.empty-block .btn {margin-top: 5px;}
.tab-nav .tab-toggle div .tab-caption {padding-bottom: 5px;}
.acc-sec {margin: 40px 0 80px;}
.project-block,
.empty-block {margin: 0 15px;}
.row.project-card-row > div[class*=col] {margin-bottom: 20px;}
.account-block {margin: 0 15px;}
.account-block .title {margin-bottom: 20px;}
.account-form .input-field-wrapp {margin-bottom: 10px;}
.account-form .btn {margin-top: 25px;width: 100%;}
.project-block .ctg__mobile--btn {margin: 0;width: 100%;}
.project-block .ctg__mobile--section {margin: 15px 0;}
}
@media (max-width: 400px) {
.tab-nav .tab-toggle div:not(:last-child) {margin-right: 25px;}
.banner-entry .log-out {right: 15px;top: 10px;}
.project-card {padding-top: 30px;}
.project-card .project-folder {margin-bottom: 30px;}
}
/*------------------------*/
/* - Account Information  */
/*------------------------*/
/*--------------------*/
/* - Project Detail   */
/*--------------------*/
/*BANNER*/
.project-detail-banner .btn-back-container {display: block;}
.project-detail-banner .btn-icon.btn-back b {color: var(--clr-grey-900);}
.project-detail-banner .banner-entry .banner-entry-align {height: auto;padding: 90px 0 45px 0;}
.project-detail-banner .banner-entry-bg {display: block;}
.project-detail-banner .block-title {max-width: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-bottom: 50px;}
.project-detail-banner .block-title .title {margin-bottom: 0;}
.project-detail-banner .block-title .btn-wrapper {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-left: 20px;}
.project-detail-banner .block-title .btn-wrapper > *:not(:last-child) {margin-right: 20px;}
.project-info-wrapper {display: -webkit-box;display: -ms-flexbox;display: flex;}
.project-info-wrapper > *:not(:last-child) {margin-right: 30px;}
.project-info-data {width: 25%;}
.project-info-data > *:not(:last-child) {margin-bottom: 5px;}
@media (max-width: 1199px) {
.project-detail-banner .btn-back-container .btn-back {top: 10px;left: 15px;}
.project-detail-banner .banner-entry .banner-entry-align {padding: 85px 0 20px 0;}
.project-detail-banner .block-title {margin-bottom: 20px;}
.project-info-wrapper {display: -webkit-box;display: -ms-flexbox;display: flex;}
.project-info-wrapper > *:not(:last-child) {margin-right: 30px;}
.project-info-data {width: 33.333%;}
}
@media (max-width: 767px) {
.project-detail-banner .banner-entry .banner-entry-align {padding: 95px 0 35px 0;}
.project-detail-banner .block-title .btn-wrapper {position: absolute;top: 10px;right: 15px;margin-left: 10px;}
.project-info-wrapper {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.project-info-wrapper > *:not(:last-child) {margin-right: 0;margin-bottom: 20px;}
.project-info-data {width: 100%;}
}
/*TABLE PROJECTS*/
.project-detail .btn-wrapper {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin: 40px 0 50px 0;}
.project-detail .btn-wrapper > *:not(:last-child) {margin-right: 20px;}
.project-detail .btn-wrapper > *:nth-child(3) {margin-left: auto;}
.project-wrapper {position: relative;margin-bottom: 180px;}
.project-top {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;font-size: 16px;line-height: 1.28em;font-weight: 400;letter-spacing: 0.005em;color: var(--clr-grey-700);padding: 0 20px 20px 20px;}
.project-top > *:first-child {padding-left: 113px;}
.project-item {position: relative;z-index: 0;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-transition: var(--transition);transition: var(--transition);background-color: var(--clr-white);outline: 1px solid var(--clr-grey-500);outline-offset: 0;margin-bottom: 1px;padding: 20px;}
.project-item:first-child {border-radius: 8px 8px 0 0;}
.project-item:last-child {border-radius: 0 0 8px 8px;}
.project-item .in-wrap {margin: 0;}
.project-item .in-wrap input {max-width: 100%;font-weight: 700;-webkit-transition: var(--transition);transition: var(--transition);}
.project-item .in-inner.size-1 {max-width: 230px;}
.project-item .in-inner.size-2 {max-width: 120px;}
.project-item .in-placeholder {display: none;font-size: 16px;line-height: 1.28em;font-weight: 400;letter-spacing: 0.005em;color: var(--clr-grey-700);}
.project-item .in-btn-dec.hide,
.project-item .in-btn-inc.hide {opacity: 0;visibility: hidden;}
.project-item .product-info {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.project-item .product-info .btn-link {-ms-flex-negative: initial;flex-shrink: initial;font-weight: 700;}
.project-item .prd__item--img {overflow: hidden;margin-bottom: 0;display: inline-block;width: 88px;height: 88px;-ms-flex-negative: 0;flex-shrink: 0;margin-inline: 0;margin-right: 25px;}
.project-item .btn-icon-wrapper {position: relative;margin: 0 !important;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
.project-item .btn-icon-wrapper .btn-icon {overflow: visible;}
.project-item .btn-icon-wrapper > *:not(:last-child) {margin-right: 20px;}
.project-item .btn-icon-wrapper.hide {position: absolute;top: 50%;right: 20px;-webkit-transform: translateY(-50%);transform: translateY(-50%);opacity: 0;visibility: hidden;}
.project-top > *,
.project-item > * {width: 25%;}
.project-top > *:not(:last-child),
.project-item > *:not(:last-child) {margin-right: 15px;}
.project-top > *:first-child,
.project-item > *:first-child {width: 40%;}
.project-top > *:nth-child(3),
.project-item > *:nth-child(3) {width: 10%;}
.project-top > *:last-child,
.project-item > *:last-child {width: 25%;}
.project-empty {position: relative;padding: 50px;border: 1px solid var(--clr-grey-500);border-radius: 8px;}
.project-empty > *:not(:last-child) {margin-bottom: 15px;}
.btn-tooltip {position: absolute;pointer-events: none;white-space: nowrap;z-index: 1;left: 50%;bottom: -5px;-webkit-transform: translate(-50%, 150%);transform: translate(-50%, 150%);font-size: 13px;line-height: 16px;font-weight: 400;letter-spacing: 0.005em;text-align: center;color: var(--clr-white);background-color: var(--clr-grey-900);border-radius: 4px;padding: 3px 6px;opacity: 0;visibility: hidden;-webkit-transition: var(--transition-1);transition: var(--transition-1);}
@media (min-width: 1200px) {
.project-item:hover {z-index: 2;outline-color: var(--clr-dark-blue);}
.project-item .product-info:hover .btn-link {color: var(--clr-light-blue);}
.project-item .btn-icon:hover .btn-tooltip {-webkit-transform: translate(-50%, 100%);transform: translate(-50%, 100%);opacity: 1;visibility: visible;}
}
@media (max-width: 1199px) {
.project-detail .btn-wrapper {display: -webkit-box;display: -ms-flexbox;display: flex;margin: 30px 0 50px 0;}
.project-detail .btn-wrapper > * {padding: 15px;}
.project-top {padding: 0 15px 15px 15px;}
.project-top > *:first-child {padding-left: 20px;}
.project-item {padding: 15px;}
.project-item.focus {z-index: 2;outline-color: var(--clr-dark-blue);}
.project-item .prd__item--img {width: 55px;height: 55px;margin-right: 15px;}
.project-item .btn-icon-wrapper > *:not(:last-child) {margin-right: 10px;}
}
@media (max-width: 991px) {
.project-top > *,
.project-item > * {width: 20%;}
.project-top > *:not(:last-child),
.project-item > *:not(:last-child) {margin-right: 10px;}
.project-top > *:first-child,
.project-item > *:first-child {width: 35%;}
.project-top > *:last-child,
.project-item > *:last-child {width: 30%;}
}
@media (max-width: 767px) {
.project-detail .btn-wrapper {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;margin: 25px 0 40px 0;}
.project-detail .btn-wrapper > * {padding: 15px;width: 100%;}
.project-detail .btn-wrapper > *:not(:last-child) {margin-right: 0;margin-bottom: 20px;}
.project-detail .btn-wrapper > *:nth-child(3) {margin-left: 0;}
.project-wrapper {margin-bottom: 150px;}
.project-top {display: none;}
.project-item {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;padding: 15px;border-radius: 8px;margin-bottom: 20px;}
.project-item:last-child {margin-bottom: 0;}
.project-item:first-child,
.project-item:last-child {border-radius: 8px;}
.project-item > * {width: 100% !important;}
.project-item > *:not(:last-child) {margin-right: 0;margin-bottom: 15px;}
.project-item .in-placeholder {display: block;}
.project-item .product-info {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}
.project-item .product-info .btn-link {margin-top: 10px;}
.project-item .prd__item--img {width: 92px;height: 92px;margin-right: 0;}
.project-item .btn-icon-wrapper {position: absolute;top: 15px;right: 15px;padding-left: 115px;}
.project-empty {padding: 40px 15px;}
}
/*--------------------*/
/* - Popups           */
/*--------------------*/
@media (min-width: 768px) {
.mb-15 {margin-bottom: 15px;}
.mb-25 {margin-bottom: 25px;}
.mb-30 {margin-bottom: 30px;}
.mb-35 {margin-bottom: 35px;}
.mb-40 {margin-bottom: 40px;}
}
.popup-align.type-2 {padding: 75px 80px;}
.popup-align.type-3 {padding: 40px;}
.popup-align.type-4 {padding: 65px 85px 55px 85px;}
.popup-align.type-5 {padding: 60px 40px 45px 40px;}
.popup-align.type-6 {padding: 40px 40px 90px 40px;}
.popup-align > .icon {-ms-flex-negative: 0;flex-shrink: 0;margin-left: auto;margin-right: auto;}
.popup-align > .icon.size-1 {width: 80px;height: 80px;}
.popup-align > .icon.size-2 {width: 96px;height: 96px;}
.popup-align .btn {margin-top: 35px;}
.popup-align .form-wrapp .btn {margin-top: 0;}
.project-list-wrapp {margin-bottom: 0;}
.project-list {overflow: auto;max-height: 330px;font-size: 17px;line-height: 1.22em;font-weight: 400;letter-spacing: 0.0025em;text-align: center;text-transform: uppercase;color: var(--clr-dark-blue);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.project-list li {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;cursor: pointer;}
.project-list .icon {position: relative;width: 73px;height: 73px;-ms-flex-negative: 0;flex-shrink: 0;margin-right: 10px;}
.project-list .icon p {position: absolute;top: calc(50% + 2px);left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.project-list span {display: inline-block;font-size: 16px;line-height: 1.19em;font-weight: 700;letter-spacing: 0.005em;text-transform: capitalize;}
.project-list-btn {position: absolute;overflow: hidden;left: 0;top: auto;bottom: 0;width: 100%;height: auto;border-top: 1px solid var(--clr-grey-500);background-color: var(--clr-white);border-radius: 0 0 16px 16px;padding: 15px 40px;}
@media (min-width: 1200px) {
.project-list li:hover {text-decoration: underline;}
}
@media (max-width: 767px) {
.popup-align.type-2 {padding: 75px 40px;}
.popup-align.type-3 {padding: 40px 30px;}
.popup-align.type-4 {padding: 65px 30px 55px 30px;}
.popup-align.type-5 {padding: 45px 15px;}
.popup-align.type-6 {padding: 40px 15px 80px 15px;}
.popup-align > .icon.size-2 {width: 84px;height: 84px;}
.popup-align .btn {margin-top: 15px;min-width: auto;width: 100%;}
.project-list {max-height: 270px;font-size: 14px;}
.project-list .icon {width: 60px;height: 60px;}
.project-list-btn {padding: 15px;}
}