/*--------------------*/
/* - Basket           */
/*--------------------*/
.basket-section {
  >.container>.row {
    --bs-gutter-x: 60px;
  }
}

.basket__prd--wrap {
  *:last-child:is(.btn) {
    margin-top: 25px;
  }
}

.basket__title {
  color: var(--clr-dark-blue);
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--clr-grey-300);
  margin-bottom: 25px;
}

.basket__prd--inner {
  >* {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.basket__prd {
  position: relative;
  padding: 15px 80px 40px 15px;
  background: var(--clr-white);
  border: 1px solid var(--clr-grey-500);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;

  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.basket__prd--img {
  position: relative;
  width: 146px;
  height: 146px;
  flex-shrink: 0;
  margin-right: 30px;
  transition: var(--transition);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: 100%;
  }
}

.basket__prd--name {
  display: inline-block;
  font-weight: 400;
  color: var(--clr-dark-blue);
}

.basket__prd--opt {
  margin-top: 10px;

  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.28em;
    letter-spacing: 0.01em;
    color: var(--clr-grey-700)
  }
}

.basket__prd--btn-wrap {
  margin-top: 25px;
}

.prj__save-wrap {
  display: flex;
  align-items: center;
  padding: 15px;
  background: var(--clr-grey-300);
  border-radius: 6px;
  margin-bottom: 30px;

  img {
    max-width: 38px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: var(--clr-dark-blue);
  }

  .btn {
    margin-left: 10px;
  }
}

.basket__form {
  .basket__title {
    margin-bottom: 30px;
  }

  .checkbox-entry-wrap {
    .checkbox-entry {
      margin: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  a.basket__prd--name:hover {
    text-decoration: underline;
  }

  a.basket__prd--img:hover {
    opacity: .7;
  }
}

@media (max-width: 1440px) {
  .basket-section {
    >.container>.row {
      --bs-gutter-x: 40px;
    }
  }
}

@media (max-width: 1199px) {
  .basket__prd--wrap {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .basket-section {
    >.container>.row {
      --bs-gutter-x: 30px;
    }
  }

  .basket__title {
    margin-bottom: 20px;
  }

  .basket__prd--inner {
    >* {
      margin-bottom: 20px;
    }
  }

  .basket__prd {
    display: block;
    padding: 15px 15px 25px 15px;
  }

  .basket__prd--img {
    width: 92px;
    height: 92px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .basket__prd--btn-wrap {
    margin-top: 20px;
  }

  .prj__save-wrap {
    flex-direction: column;
    padding: 25px;
    text-align: center;
    margin-bottom: 50px;

    img {
      flex-shrink: 0;
    }

    .btn {
      margin-left: 0;
      width: 100%;
    }

    >* {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .basket__form {
    .basket__title {
      margin-bottom: 20px;
    }

    .checkbox-entry-wrap {
      .checkbox-entry {
        margin-block: 15px !important;
      }
    }

    >*:last-child:is(.btn) {
      width: 100%;
    }
  }
}

@media (max-width: 575px) {
  .basket__prd--wrap {
    .btn {
      width: 100%;
    }
  }
}

/*---------------------------*/
/* - Basket Empty & Received */
/*---------------------------*/
.empty__basket {
  position: relative;
  text-align: center;
  padding: 80px 30px 95px;
  background: var(--clr-white);
  border: 1px solid var(--clr-grey-500);
  border-radius: 8px;

  .empty__basket--title {
    font-weight: 400;
    text-transform: capitalize;
    color: var(--clr-dark-blue)
  }

  .empty__basket--info {
    font-weight: 400;
    color: var(--clr-grey-700);
    margin-top: 10px;
  }

  .btn {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .empty__basket {
    padding: 60px 15px;

    .btn {
      margin-top: 25px;
    }
  }
}

.rc__basket {
  max-width: 680px;
  width: 100%;
  margin-inline: auto;
  text-align: center;

  >img {
    line-height: 0;
    margin-bottom: 10px;
  }

  >*:last-child:is(.btn) {
    margin-top: 40px;
  }
}

.rc__basket--title {
  font-weight: 400;
  letter-spacing: 0.0025em;
  text-transform: uppercase;
  color: var(--clr-dark-blue);
}

.rc__basket--info {
  margin-top: 20px;
  font-weight: 400;
  color: var(--clr-dark-blue);
  opacity: 0.7;
}

.rc__quote--wrap {
  max-width: 620px;
  width: 100%;
  margin-inline: auto;
  margin-top: 30px;
  padding: 25px;
  background: var(--clr-grey-100);
  border-radius: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25em;
  color: var(--clr-dark-blue);

  >* {
    margin-bottom: 25px;

    &:first-child {
      b {
        font-weight: 700;
      }
    }


    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 767px) {
  .rc__quote--wrap {
    margin-top: 30px;
    padding: 20px 15px;
    font-size: 20px;

    >* {
      margin-bottom: 15px;
    }
  }
}