/*--------------------*/
/* - Category         */
/*--------------------*/
:root {
  --ctg-menu-width: 342px
}

.category-section {
  display: flex;
  min-height: calc(var(--header-top) + var(--header-bottom));
}

.bottom-line {
  margin-top: 25px;
  height: 2px;
  background: var(--clr-grey-300)
}

.category-section-left {
  width: var(--ctg-menu-width);
}

.category-section-right {
  width: calc(100% - var(--ctg-menu-width));
  padding-bottom: 80px;
}

header.scrolled+main .category-section {
  --header-bottom: 60px;
}

.ctg__mobile--section {
  display: none;
}

.ctg__menu--wrap {
  height: 100%;
  overflow: auto;
}

.ctg__menu {
  padding: 30px 35px;

  >* {
    margin-top: 10px;
  }

  >*:first-child {
    margin-top: 0;
  }

  >*:last-child:is(.btn) {
    margin-top: 20px;
  }
}

.ctg__links {
  position: relative;
}

.ctg__links--caption {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.1em;
  letter-spacing: 0.01em;
  color: var(--clr-dark-blue);
}

.ctg__links--caption+.ctg__dropdown {
  margin-top: 5px;
}

.ctg__dropdown {
  position: relative;
  z-index: 10;
}

.ctg__dropdown--title {
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 12px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--clr-white);
  border: 2px solid var(--clr-grey-700);
  border-radius: 8px;

  b {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1em;
    letter-spacing: 0.01em;
    color: var(--clr-dark-blue);
  }

  i {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    transition: var(--transition);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: var(--clr-dark-blue) transparent transparent transparent;
    }
  }
}

.ctg__dropdown--list {
  position: absolute;
  z-index: 0;
  bottom: 6px;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  max-height: 200px;
  padding-top: 4px;
  background: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  -webkit-box-shadow: 0 15px 29px 0 rgba(0, 0, 0, .07);
  box-shadow: 0 15px 29px 0 rgba(0, 0, 0, .07);

  li>* {
    font-size: 16px;
    display: block;
    line-height: 1.39em;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--clr-dark-blue);
    transition: var(--transition);
    padding: 10px 15px;
  }
}

.ctg__dropdown.active {
  .ctg__dropdown--list {
    opacity: 1;
    visibility: visible;
  }

  .ctg__dropdown--title {
    i {
      transform: rotate(-180deg);
    }
  }
}

.ctg__dropdown+.ctg__links--list {
  margin-top: 10px;
}

.ctg__links--list {
  li {
    margin-left: 15px;

    >*:not(ul) {
      position: relative;
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1em;
      letter-spacing: 0.01em;
      color: var(--clr-dark-blue);
      padding: 12px 35px 12px 15px;
      transition: var(--transition);

      &.active {
        background-color: var(--clr-grey-300);
        border-radius: 8px;

        &:before {
          content: '';
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          width: 10px;
          height: 6px;
          border-left: 2px solid var(--clr-dark-blue);
          border-bottom: 2px solid var(--clr-dark-blue);
        }
      }
    }
  }
}

.ctg__filter {
  position: relative;
  border-bottom: 2px solid var(--clr-grey-300);
}

.ctg__filter--title {
  cursor: pointer;
  position: relative;
  padding: 12px 35px 12px 15px;

  b {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1em;
    letter-spacing: 0.01em;
    color: var(--clr-dark-blue);
  }

  i {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--clr-dark-blue);
      transform: translateY(-50%);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      background: var(--clr-dark-blue);
      transform: translateX(-50%);
      transition: var(--transition);
    }
  }
}

.ctg__filter--list {
  display: none;

  li {
    padding: 12px 0 12px 15px;
  }

  .checkbox-entry span {
    font-weight: 500;
    padding-left: 25px;
  }
}

.ctg__filter.active {
  .ctg__filter--title {
    i {
      &:after {
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }
}

@media (min-width: 1200px) {
  .ctg__dropdown--list {
    li>*:hover {
      color: var(--clr-white);
      background: var(--clr-dark-blue);
    }
  }

  .ctg__links--list li {
    >*:not(ul):not(.active):hover {
      background-color: var(--clr-grey-100);
      border-radius: 8px;
    }
  }
}

@media (max-width: 1440px) {
  :root {
    --ctg-menu-width: 310px
  }

  .category-section-right {
    width: calc(100% - var(--ctg-menu-width));
    padding-bottom: 60px;
  }

  .ctg__menu {
    padding: 20px;
  }
}

@media (max-width: 1199px) {
  .category-section {
    display: block;
    min-height: unset;
  }

  .category-section-left {
    width: auto;
  }

  .category-section-right {
    padding-bottom: 40px;
    width: 100%;
  }

  .ctg__mobile--section {
    height: 60px;
    margin-bottom: 40px;
    display: block;
  }

  .ctg__mobile--block {
    padding-block: 5px;
    transition: var(--transition);

    &.fixed {
      position: fixed;
      z-index: 50;
      top: calc(var(--header-top) + var(--header-bottom));
      left: 0;
      width: 100%;
      background-color: var(--clr-dark-blue);
    }
  }

  .ctg__mobile--btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 210px;
    width: 100%;
    padding: 11px 15px;
    background-color: var(--clr-white);
    border: 2px solid var(--clr-grey-300);
    border-radius: 6px;

    svg {
      margin-right: 10px;
      width: 25px;
    }

    b {
      font-weight: 500;
      font-size: 16px;
      line-height: 1em;
      letter-spacing: 0.01em;
      color: var(--clr-dark-blue);
    }
  }

  .ctg__menu--wrap {
    position: fixed;
    z-index: 100;
    top: calc(var(--header-top) + var(--header-bottom));
    left: 0;
    line-height: 0;
    width: var(--ctg-menu-width);
    height: calc(100% - (var(--header-top) + var(--header-bottom)));
    background-color: var(--clr-white);
    transition: var(--transition);
    transform: translateX(-100%);

    .btn-close {
      margin: 20px 20px 0;

      b {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translate(100%, -50%);
        font-weight: 500;
        font-size: 16px;
        line-height: 1em;
        letter-spacing: 0.01em;
        color: var(--clr-dark-blue);
      }
    }
  }

  .ctg-open-filter,
  html.ctg-open-filter body {
    overflow: hidden;
  }

  .ctg-open-filter {

    .ctg__menu--wrap {
      transform: translateX(0%);
    }

    .ctg__menu--overlay {
      opacity: .6;
      visibility: visible;
    }
  }

  .ctg__menu--overlay {
    position: fixed;
    z-index: 99;
    top: calc(var(--header-top) + var(--header-bottom));
    left: 0;
    right: 0;
    bottom: -100px;
    background-color: var(--clr-grey-300);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-1);
  }
}

@media (max-width: 575px) {
  .ctg__mobile--btn {
    max-width: 100%;
    width: calc(100% - 30px);
    margin-inline: 15px;
  }
}