/*--------------------*/
/* - Project Detail   */
/*--------------------*/
/*BANNER*/
.project-detail-banner {
  .btn-back-container {
    display: block;
  }

  .btn-icon.btn-back {
    b {
      color: var(--clr-grey-900);
    }
  }

  .banner-entry {
    .banner-entry-align {
      height: auto;
      padding: 90px 0 45px 0;
    }
  }

  .banner-entry-bg {
    display: block;
  }

  .block-title {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .title {
      margin-bottom: 0;
    }

    .btn-wrapper {
      display: flex;
      align-items: center;
      margin-left: 20px;

      > *:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.project-info-wrapper {
  display: flex;

  > *:not(:last-child) {
    margin-right: 30px;
  }
}

.project-info {
  width: 25%;

  > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media (max-width: 1199px) {
  .project-detail-banner {
    .btn-back-container {
      .btn-back {
        top: 10px;
        left: 15px;
      }
    }

    .banner-entry {
      .banner-entry-align {
        padding: 85px 0 20px 0;
      }
    }

    .block-title {
      margin-bottom: 20px;
    }
  }

  .project-info-wrapper {
    display: flex;

    > *:not(:last-child) {
      margin-right: 30px;
    }
  }

  .project-info {
    width: 33.333%;
  }
}

@media (max-width: 767px) {
  .project-detail-banner {
    .banner-entry {
      .banner-entry-align {
        padding: 95px 0 35px 0;
      }
    }

    .block-title {
      .btn-wrapper {
        position: absolute;
        top: 10px;
        right: 15px;
        margin-left: 10px;
      }
    }
  }

  .project-info-wrapper {
    flex-direction: column;

    > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .project-info {
    width: 100%;
  }
}

/*TABLE PROJECTS*/
.project-detail {
  .btn-wrapper {
    display: flex;
    align-items: center;
    margin: 40px 0 50px 0;

    > *:not(:last-child) {
      margin-right: 20px;
    }

    > *:nth-child(3) {
      margin-left: auto;
    }
  }
}

.project-wrapper {
  position: relative;
  margin-bottom: 180px;
}

.project-top {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.28em;
  font-weight: 400;
  letter-spacing: 0.005em;
  color: var(--clr-grey-700);
  padding: 0 20px 20px 20px;

  > * {
    &:first-child {
      padding-left: 113px;
    }
  }
}

.project-item {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  transition: var(--transition);
  background-color: var(--clr-white);
  outline: 1px solid var(--clr-grey-500);
  outline-offset: 0;
  margin-bottom: 1px;
  padding: 20px;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  .in-wrap {
    margin: 0;

    input {
      max-width: 100%;
      font-weight: 700;
      transition: var(--transition);
    }
  }

  .in-inner {
    &.size-1 {
      max-width: 230px;
    }

    &.size-2 {
      max-width: 120px;
    }
  }

  .in-placeholder {
    display: none;
    font-size: 16px;
    line-height: 1.28em;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: var(--clr-grey-700);
  }

  .in-btn-dec,
  .in-btn-inc {
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  .product-info {
    display: flex;
    align-items: center;

    .btn-link {
      flex-shrink: initial;
      font-weight: 700;
    }
  }

  .prd__item--img {
    overflow: hidden;
    margin-bottom: 0;
    display: inline-block;
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    margin-inline: 0;
    margin-right: 25px;
  }

  .btn-icon-wrapper {
    position: relative;
    margin: 0 !important;
    display: flex;
    justify-content: flex-end;

    .btn-icon {
      overflow: visible;
    }

    > *:not(:last-child) {
      margin-right: 20px;
    }

    &.hide {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
    }
  }
}

.project-top,
.project-item {
  > * {
    width: 25%;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:first-child {
      width: 40%;
    }

    &:nth-child(3) {
      width: 10%;
    }

    &:last-child {
      width: 25%;
    }
  }
}

.project-empty {
  position: relative;
  padding: 50px;
  border: 1px solid var(--clr-grey-500);
  border-radius: 8px;

  >*:not(:last-child) {
    margin-bottom: 15px;
  }
}

.btn-tooltip {
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;
  left: 50%;
  bottom: -5px;
  transform: translate(-50%, 150%);
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.005em;
  text-align: center;
  color: var(--clr-white);
  background-color: var(--clr-grey-900);
  border-radius: 4px;
  padding: 3px 6px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

@media (min-width: 1200px) {
  .project-item:hover {
    z-index: 2;
    outline-color: var(--clr-dark-blue);
  }

  .project-item {
    .product-info:hover {
      .btn-link {
        color: var(--clr-light-blue);
      }
    }

    .btn-icon:hover {
      .btn-tooltip {
        transform: translate(-50%, 100%);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 1199px) {
  .project-detail {
    .btn-wrapper {
      display: flex;
      margin: 30px 0 50px 0;

      > * {
        padding: 15px;
      }
    }
  }

  .project-top {
    padding: 0 15px 15px 15px;

    > * {
      &:first-child {
        padding-left: 20px;
      }
    }
  }

  .project-item {
    padding: 15px;

    &.focus {
      z-index: 2;
      outline-color: var(--clr-dark-blue);
    }

    .prd__item--img {
      width: 55px;
      height: 55px;
      margin-right: 15px;
    }

    .btn-icon-wrapper {
      > *:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 991px) {
  .project-top,
  .project-item {
    > * {
      width: 20%;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:first-child {
        width: 35%;
      }

      &:last-child {
        width: 30%;
      }
    }
  }
}

@media (max-width: 767px) {
  .project-detail {
    .btn-wrapper {
      flex-direction: column;
      margin: 25px 0 40px 0;

      > * {
        padding: 15px;
        width: 100%;
      }

      > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }

      > *:nth-child(3) {
        margin-left: 0;
      }
    }
  }

  .project-wrapper {
    margin-bottom: 150px;
  }

  .project-top {
    display: none;
  }

  .project-item {
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child,
    &:last-child {
      border-radius: 8px;
    }

    > * {
      width: 100% !important;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    .in-placeholder {
      display: block;
    }

    .product-info {
      flex-direction: column;
      align-items: flex-start;

      .btn-link {
        margin-top: 10px;
      }
    }

    .prd__item--img {
      width: 92px;
      height: 92px;
      margin-right: 0;
    }

    .btn-icon-wrapper {
      position: absolute;
      top: 15px;
      right: 15px;
      padding-left: 115px;
    }
  }

  .project-empty {
    padding: 40px 15px;
  }
}