/*--------------------*/
/* - BUTTONS          */
/*--------------------*/
.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  z-index: 1;
  flex-shrink: 0;
  font-size: 15px;
  line-height: 1.067em;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: var(--clr-white);
  border: 1px solid var(--clr-red);
  background-color: var(--clr-red);
  padding: 19px 40px;
  overflow: hidden;
  transition: var(--transition-1);

  b {
    display: inline-block;
    line-height: inherit;
    font-weight: inherit;
    color: currentColor;
    transform: translateY(2px);
  }

  &::before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    inset: -4px;
    background-color: var(--clr-white);
    transition: transform var(--transition-1);
    transform: translateY(100%);
  }

  &-primary {
    color: var(--clr-red);
    border-color: var(--clr-red);
    background-color: transparent;

    &::before {
      background-color: var(--clr-red);
    }
  }

  &-secondary {
    color: var(--clr-white);
    border-color: var(--clr-white);
    background-color: transparent;

    &::before {
      background-color: var(--clr-white);
    }
  }

  &-third {
    color: var(--clr-white);
    border-color: var(--clr-black);
    background-color: var(--clr-black);

    &::before {
      background-color: var(--clr-white);
    }
  }
}

.btn-close {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: var(--clr-text);
  transition: color var(--transition-1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: currentColor;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.btn-scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  cursor: pointer;
  transform-origin: 0 0;
  margin-right: -14px;
  transform: rotate(90deg) translateX(-50%) translateY(-14px);
}

.round-btn-wrap {
  position: relative;
  max-width: 260px;
  width: 100%;
  aspect-ratio: 1/1;
}

.round-btn-listener {
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.round-btn {
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  flex-shrink: 0;

  .circle {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid var(--clr-red);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .name {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    font-size: 18px;
    display: block;
    pointer-events: none;
    line-height: 1.56;
    padding: 70px 0 0 45px;
    width: 100%;
    height: 100%;
    text-align: left;
    text-transform: uppercase;
    color: var(--clr-red);
    font-weight: 600;
    transform: translate(-50%, -50%);
  }

  .arr {
    position: absolute;
    right: 65px;
    bottom: 76px;
    width: 24px;
    height: 17px;
    fill: var(--clr-red);
  }
}

.btn-link {
  font-size: 15px;
  color: var(--clr-red);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: var(--transition-1);
}
.btn-link svg {
  position: relative;
  vertical-align: top;
  margin-left: 20px;
  top:1px;
  width: 7px;
  height: 12px;
  stroke: currentColor;
  transition: var(--transition-1);
}

@media (min-width: 1200px) {
  .btn:hover {
    color: var(--clr-red);

    &::before {
      transform: translateY(0%);
    }
  }

  .btn-primary:hover {
    color: var(--clr-white);
  }

  .btn-secondary:hover {
    color: var(--clr-black);
  }

  .btn-third:hover {
    color: var(--clr-black);
  }

  .btn-close:hover {
    color: var(--clr-red);
  }

  .round-btn .arr,
  .round-btn .circle,
  .round-btn .name {
    transition: background var(--transition-1), color var(--transition-1);
  }

  .round-btn-listener:hover+.round-btn .circle {
    background-color: var(--clr-red);
  }

  .round-btn-listener:hover+.round-btn .name {
    color: var(--clr-white);
  }

  .round-btn-listener:hover+.round-btn .arr {
    fill: var(--clr-white);
  }

  .btn-link:hover svg{
    transform: translateX(-10px);
  }
}

@media(max-width:1560px) {
  .btn {
    font-size: 13px;
    line-height: 1em;
    padding: 15px 25px;
  }
}

@media(max-width:991px) {
  .round-btn {
    .name {

      padding: 50px 0 0 35px;
    }

    .arr {
      bottom: 50px;
      right: 30px;
    }
  }
}

@media (min-width: 576px) and (max-width: 1199px) {
  .btn-scroll {
    display: none;
  }
}

@media(max-width:575px) {

  // .btn-scroll {
  //   transform: rotate(90deg) scale(.6);
  //   transform-origin: 0 50%;
  //   bottom: 35px;
  // }
  .btn-scroll {
    display: none;
  }
  .round-btn-wrap{
    max-width:220px;
  }
}