/*--------------------*/
/* - HEADER           */
/*--------------------*/
:root {
  --h-height: 100px;
  --h-info-height: 50px;
}

header {
  height: var(--h-height);
}

.header-wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-white);
  transition: var(--transition-1);

  &.scrolled {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .02);
  }
}

.header-informer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--h-info-height);
  text-align: center;
  padding-block: 8px;
  transition: transform var(--transition-1);

  &.hide-informer,
  &.hide {
    transform: translateY(100%);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    height: 100%;
    width: 150%;
    transform: translateX(-50%);
    background-color: var(--clr-grey3);
  }

  &.text {
    >* {
      display: inline;
      vertical-align: middle;
      margin-bottom: 0;
    }

    img {
      margin-right: 15px;
      max-width: 35px;
    }

    b {
      margin-right: 25px;
      font-weight: 300;
    }

    a {
      display: inline-block !important;
      text-transform: uppercase;
      color: var(--clr-red) !important;
      font-weight: 600 !important;
      font-size: 14px;
      line-height: 1em;
      margin-top: 2px;
      letter-spacing: 0.12em;
      margin-top: 4px;
      background: linear-gradient(to top, #ffd700 60%, #0A489D 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .btn-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    margin: 0 !important;
  }
}

.header-wrap-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--h-height);
}

.header-wrap-left {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  width: 180px;

  img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    display: block;
    line-height: 0;
    transition: var(--transition-1);

    &:first-child {
      transition-delay: 1.2s;
    }

    &:last-child {
      opacity: 0;
      transition-delay: 1.2s;
    }
  }
}

.btn-burger {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--clr-black);
  margin-left: 80px;
  transition: var(--transition-1);
}

.burger {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
  color: currentColor;

  i {
    position: absolute;
    left: 0;
    top: 6px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: var(--transition-1);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: currentColor;
    transition: var(--transition-1);
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    right: 0;
    bottom: 0;
  }
}

.burger-word {
  min-width: 60px;
  margin-left: 20px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: currentColor;

  b {
    font-weight: inherit;
    color: currentColor;
    transition: var(--transition-1);

    &:first-child {
      display: block;
    }

    &:last-child {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.header-wrap-center {
  position: relative;
  z-index: 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -30px -15px;
  }

  li {
    margin: 0 30px 15px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1em;
    color: var(--clr-black);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.header-wrap-right {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  margin-right: 30px;
  letter-spacing: .05em;
  color: var(--clr-black);

  svg {
    color: inherit;

    path {
      fill: currentColor;
      stroke: currentColor;
    }
  }

  b {
    margin-left: 10px;
    margin-top: 1px;
  }
}

.header-menu {
  position: fixed;
  z-index: 3;
  inset: 0;
  display: flex;
  background-color: var(--bg-black1);
  will-change: transform;
  transform: translateY(-100%);
  transition: transform .5s;
  transition-delay: 1s;
}

.header-menu-left {
  width: 69%;

  >* {
    height: 100%;
  }
}

.header-menu-left-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  line-height: 0;

  .social {
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity .6s;
    transition-delay: .5s;
  }
}

.header-lang {
  display: flex;
  margin-top: calc(var(--h-height) / 2 - 5px);
  margin-right: 50px;
  margin-left: auto;

  li {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: var(--clr-white);

    &.current {
      color: var(--clr-red);
    }
  }
}

.header-mega-menu {
  margin: auto 0;
  width: 100%;
  // --items: 4;
  --items-mb: 60px;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity .6s, transform .6s;
  transition-delay: .5s;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(var(--items) * (var(--h-3) + var(--items-mb)));
    margin-bottom: calc(-1 * var(--items-mb));
  }

  li {
    width: 50%;
    margin-bottom: var(--items-mb);
  }

  a,
  b {
    display: inline-block;
    cursor: pointer;
    font-size: var(--h-3);
    font-weight: 400;
    line-height: 1em;
    color: var(--clr-white);
    transition: var(--transition-1);
  }
}

.has-submenu>b {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    margin-top: -2px;
  }
}

.submenu {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: var(--bg-black1);
  opacity: 0;
  visibility: hidden;
}

.has-submenu.active {
  .submenu {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s;
  }
}

.submenu-close {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -100px;
  width: 56px;
  height: 56px;
  display: flex;
  border-radius: 100%;
  border: 1px solid var(--clr-text2);
  transition: all var(--transition-1);

  i {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 16px;
    margin: auto;
    color: var(--clr-text2);
    transition: all var(--transition-1);


    &::before {
      content: '';
      position: absolute;
      left: 1px;
      top: 50%;
      width: 12px;
      height: 12px;
      border-bottom: 3px solid currentColor;
      border-left: 3px solid currentColor;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 3px;
      background-color: currentColor;
      transform: translateY(-50%);
    }
  }
}

.header-menu-right {
  width: 31%;
  display: flex;
  flex-direction: column;

  >* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
    clip-path: inset(0 0 100% 0);
  }
}

.header-menu-right-top {
  background-color: var(--bg-black3);
  transition: clip-path .8s;
  transition-delay: .8s;
}

.header-menu-right-bottom {
  background-color: var(--bg-black2);
  transition: clip-path .8s;
  transition-delay: 0s;


  >*:not(.btn) {
    font-size: 22px;
    line-height: 1.4em;
    font-weight: 300;
    color: var(--clr-text2);
    margin-bottom: 20px;
    text-align: center;
  }
}

.open-menu {
  .header-logo {
    img {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }

  .header-menu {
    transform: translateY(0%);
    transition-delay: 0s;
  }

  .btn-burger:not(:hover) {
    color: var(--clr-white);
  }

  .btn-burger.is-active .burger-word {
    b {
      &:first-child {
        opacity: 0;
        visibility: hidden;
      }

      &:last-child {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .burger {
    i {
      opacity: 0;
    }

    &::before {
      width: 100%;
      top: 6px;
      transform: rotate(45deg);
    }

    &::after {
      width: 100%;
      bottom: 6px;
      transform: rotate(-45deg);
    }
  }

  .header-menu-left-inner {
    .social {
      opacity: 1;
      transition: opacity .6s;
      transition-delay: .5s;
    }
  }

  .header-mega-menu {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity .6s, transform 0s;
    transition-delay: .5s;
  }

  .header-menu-right-top {
    clip-path: inset(0 0 0 0);
    transition-delay: .3s;
  }

  .header-menu-right-bottom {
    clip-path: inset(0 0 0 0);
    transition-delay: 1.1s;
  }
}

@media (min-width: 1200px) {
  .btn-burger:hover {
    color: var(--clr-red);

    .burger {

      &::before,
      &::after {
        width: 100%;
      }
    }
  }

  .header-wrap-center {
    a:hover {
      color: var(--clr-red);
    }
  }

  .header-lang a:hover {
    color: var(--clr-red);
  }

  .header-phone:hover {
    color: var(--clr-red);
  }

  .header-mega-menu {

    a:hover,
    .has-submenu>b:hover {
      color: var(--clr-red);
    }
  }

  .submenu-close:hover {
    background-color: var(--clr-red);
    border-color: var(--clr-red);

    i {
      color: var(--clr-white);
    }
  }
}

@media (max-width: 1560px) {
  :root {
    --h-height: 80px;
    --h-info-height: 40px;
  }

  .header-informer {
    padding-block: 7px;

    &.text {
      img {
        max-width: 25px;
      }
    }
  }

  .header-logo {
    width: 140px;

    img {
      width: 140px;
    }
  }

  .btn-burger {
    margin-left: 40px;
  }

  .burger-word {
    margin-left: 15px;
  }

  .header-wrap-center {
    ul {
      margin: 0 -15px -15px;
    }

    li {
      margin: 0 15px 15px;
    }
  }

  .header-menu-left-inner {
    .social {
      margin-bottom: 30px;
    }
  }

  .header-lang {
    margin-right: 20px;
  }

  .header-mega-menu {
    --items-mb: 40px;
  }

  .submenu-close {
    top: -80px;
    width: 46px;
    height: 46px;

    i {
      width: 20px;
      height: 14px;

      &::before {
        width: 10px;
        height: 10px;
      }
    }
  }

  .header-menu-right-bottom {
    >*:not(.btn) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1199px) {
  :root {
    --h-height: 60px;
  }

  .header-wrap-center {
    display: none;
  }

  .header-mega-menu {
    --items-mb: 20px;
  }

  .header-menu-left {
    width: 65%;
  }

  .header-menu-right {
    width: 35%;
  }

  .submenu-close {
    top: -80px;
    width: 46px;
    height: 46px;

    i {
      width: 20px;
      height: 14px;

      &::before {
        width: 10px;
        height: 10px;
      }
    }
  }

  .submenu-close {
    top: -70px;
  }
}

@media (max-width: 991px) {
  .header-wrap-left {
    width: 100%;
    height: 100%;
    transition: .3s;
    transition-delay: 1s;
  }

  .btn-burger {
    margin-left: auto;
  }

  .header-phone {
    margin-right: 0;
  }

  .header-phone b {
    display: none;
  }

  .header-menu {
    overflow: auto;
    flex-direction: column;
    padding-top: var(--h-height);

    >* {
      width: auto;
    }
  }

  .header-menu-right {
    margin-top: auto;

    >* {
      padding: 30px 15px;
      height: auto;
    }
  }

  .header-menu-left-inner {
    align-items: center;

    .social {
      margin-top: 30px;
    }
  }

  .header-lang {
    margin: 30px 0;
  }

  .header-lang,
  .h-btn {
    opacity: 0;
    transition: opacity .6s !important;
    transition-delay: .5s !important;
  }

  .header-mega-menu {
    margin: 30px 0;
    transform: translateY(0%);
    transition-delay: 0.5s;

    ul {
      display: block;
      height: 100%;
      text-align: center;
    }

    li {
      width: 100%;
    }
  }

  .submenu {
    position: relative;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    display: none;

    ul {
      padding: 20px 0 50px;
      margin-top: 20px;
      font-size: var(--h-3);
      border-top: 1px solid var(--bg-black3);

      li:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 80%;
      }
    }
  }

  .submenu-close {
    display: none;
  }

  .has-submenu {
    &.active .submenu {
      display: block;
    }
  }

  .open-menu {
    .btn-burger {
      color: var(--clr-white);
    }

    .header-phone {
      display: none;
    }

    .header-wrap-left {
      background-color: var(--bg-black1);
      transition-delay: .2s;
    }

    .header-lang,
    .h-btn {
      opacity: 1;
    }
  }
}