/*--------------------*/
/* - TYPOGRAPHY       */
/*--------------------*/
body {
  font-family: var(--ff-1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
  color: var(--clr-title);
}

body * {
  font-family: var(--ff-1);
}

strong {
  font-weight: 600;
  line-height: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
  color: var(--clr-title);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: var(--h-1);
  line-height: 1.125em;
}

h2,
.h2 {
  font-size: var(--h-2);
  line-height: 1.24em;
}

h3,
.h3 {
  font-size: var(--h-3);
  line-height: 1.2em;
}

h4,
.h4 {
  font-size: var(--h-4);
  line-height: 1.2em;
}

h5,
.h5 {
  font-size: var(--h-5);
  line-height: 1.46em;
}

h6,
.h6 {
  font-size: var(--h-6);
  line-height: 1.46em;
}

.fw-500{
  font-weight:500;
}

.upper{
  text-transform: uppercase;
}

.color-white {
  color: var(--clr-white);
}

.title b{
  color: var(--clr-red);
}

.title-margin {
  margin-bottom: 35px;
}

.fs-2 h1,
.fs-2 .h1,
.fs-2 .h2 {
  font-size: 40px;
}

.fs-2 .simple-page h2 {
  font-size: 26px;
}

.page-title{
  font-size:68px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media(max-width: 767px) {
  .title-margin {
    margin-bottom: 15px;
  }
  .fs-2 h1,.fs-2 .h1, .fs-2 .h2{
    font-size: 32px;
  }
  .fs-2 .simple-page h2{
    font-size: 24px;
  }
  .page-title{
    font-size:40px;
  }
}



/*--------------------*/
/* - TEXT STYLES      */
/*--------------------*/
.text {
  font-size: 19px;
  line-height: 1.47em;
  font-weight: 300;
  color: var(--clr-text);

  &.text-sm {
    font-size: 15px;
    line-height: 1.6em;
  }

  &.text-lg {
    font-size: 21px;
    line-height: 1.6em;
  }

  &.color-2 {
    color: #929292;
  }

  >*+* {
    margin-top: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}

.text p {
  letter-spacing: 0.6px;
}

.text b {
  font-weight: 500;
}

.text strong {
  font-weight: 600;
}

.text em {
  font-style: italic;
  font-weight: 500;
}

.text a:not(.btn) {
  display: inline;
  color: var(--clr-text);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.text ul li,
.text ol li {
  position: relative;
  padding-left: 25px;
  color: inherit;
  font-size: inherit;
  margin-top: 10px;
}

.text ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 10px;
  height: 2px;
  background-color: #e0e0e0;
}

.text ol {
  counter-reset: number;
  padding-left: 0;
}

.text ol li {
  padding-left: 25px;
}

.text ol li:before {
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0;
  counter-increment: number;
  content: counter(number, decimal-leading-zero) ".";
  color: var(--clr-red);
  font-size: 80%;
  line-height: inherit;
  font-weight: 500;
}

.text picture img {
  display: block;
  width: 100%;
}

.text figure {
  line-height: 0;
  width: 100% !important;

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    text-align: right;
  }

  >img {
    width: auto;
    margin-bottom: 0;
  }

  figcaption {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.6em;
    color: var(--clr-black);
  }
}

.text iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 600px;
  border: 0;
  max-height: calc(56.3vw - 20px);
}

.text blockquote {
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.46em;
  padding: 5px 0 5px 25px;
  color: var(--clr-black);
  border-left: 2px solid var(--clr-red);
}

.text img,
.text table,
.text iframe,
.text figure {
  //margin: 0;
}

.text table {
  border-collapse: collapse;
  width: 100%;

  tbody {
    min-width: 690px;
  }

  tr {
    border-bottom: 1px solid var(--clr-grey);
    text-align: left;
  }

  thead th,
  thead td {
    color: var(--clr-black);
    font-weight: 600;
    vertical-align: middle;
    text-align: left;
    height: 60px;
    padding: 10px 5px;
    font-size: inherit;
    line-height: 1em;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }
  }

  td,
  th {
    vertical-align: middle;
    text-align: left;
    height: 60px;
    padding: 10px 5px;
    font-size: inherit;
    line-height: 1em;
    font-weight: 400;
    color: var(--clr-text);
  }

  td:first-child {
    padding-left: 10px;
  }

  td:last-child {
    padding-right: 10px;
  }
}

.text *:first-child {
  margin-top: 0;

  img {
    margin-top: 0;
  }
}

.text>*:last-child {
  margin-bottom: 0;

  img {
    margin-bottom: 0;
  }
}

.title-with-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.title-with-text .title {
  max-width: 57%;
  flex: 1 1 57%;
  font-weight: 600;
}

.title-with-text .text {
  flex: 1;
  margin-left: 9%;
}

.title-with-text .text span {
  color: var(--clr-red);
  font-weight: 400;
}

.title-with-text .text.color-2 span {
  color: var(--clr-white);
}

.title-with-text.no-align{
  display: block;
}

.title-with-text.full-width .title{
  max-width: 100%;
}

.sub-title {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
  color: var(--clr-text);
  text-transform: uppercase;
}

.full-link{position: absolute;width: 100%;height: 100%;z-index: 1;left: 0;top: 0;}

/*media*/
@media(min-width: 1200px) {
  .text a:not(.btn):hover {
    text-decoration-color: currentColor;
  }
}

@media(max-width: 1639px) {
  .title-with-text .text {
    font-size: 18px;
    margin-left: 5%;
  }

  .sub-title {
    font-size: 18px;
  }
}

@media(max-width: 1199px) {
  .title-with-text {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .title-with-text .title {
    max-width: 100%;
  }

  .title-with-text .text {
    display: none;
    padding: 0;
  }

  .sub-title {
    font-size: 15px;
  }
}

@media(max-width: 991px) {
  .sub-title {
    font-size: 12px;
  }
}

@media(max-width: 767px) {
  .title-with-text{
    margin-bottom:20px;
  }
  .text {
    font-size: 15px;

    &.text-lg {
      font-size: 19px;
    }

    >*+* {
      margin-top: 15px;
    }
  }

  .text ul li,
  .text ol li {
    margin-top: 5px;
  }


  .text blockquote {
    font-size: 19px;
  }

  .text img,
  .text table,
  .text iframe,
  .text figure,
  .text .swiper-entry {
    margin: 25px 0;
  }

  .text table {

    thead th,
    thead td {
      height: 48px;
      padding: 5px 2px;

      &:first-child {
        padding-left: 5px;
      }

      &:last-child {
        padding-right: 5px;
      }
    }

    td,
    th {
      height: 48px;
      padding: 5px 2px;

      &:first-child {
        padding-left: 5px;
      }

      &:last-child {
        padding-right: 5px;
      }
    }
  }

}